h2.iniciar-sesion {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fdbe33;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
